* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILITY*/

img {
    height: 100%;
    width: 100%;
}

/*HEADER*/

header {
    height: 50px;
    font-family: 'Nerko One', cursive;
    color:orange;
    background-color: white;
    align-content: center;
    padding-left: 15px;
}

/*RESPONSIVE-HEADER (only for Smartphone)*/

@media screen and (max-width:480px) {
    header {
        text-align: center;
    }
}

/*BODY*/

body {
    background-color: rgb(226, 226, 226);
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    height: auto;
}

/*Jumbotron*/

.container {
    width: 70%;
    margin: 50px auto;
    min-height: 300px;
    border-style: dashed;
}

.row {
    display: flex;
}

.col-sx {
    width: 70%;
    min-height: 150px;
    border-style: dashed;
}

#tiramisu-from-youtube {
    height: 100%;
    width: 100%;
}

.col-dx {
    width: 30%;
    min-height: 150px;
    border-style: dashed;
}

/*Nav*/

.socials {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.socials a {
    color: black;
    text-decoration: none;
}


/*Info*/

.tags {
    height: 50px;
    border-style: dashed;
}

.float-sx {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 240px;
    height: 150px;
}

/*RESPONSIVE-BODY (only for Tablet)*/

@media screen and (max-width:768px) {
    
    .container {
        margin-inline: 20px;
    }

    .row {
        display: block;
    }

    .col-sx {
        justify-self: center;
        width: 100%;
    }

    .col-dx {
        width: 100%;
    }
}

/*RESPONSIVE-BODY (only for Smartphone)*/

/*FOOTER*/
footer {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    color: white;
    background-color: #7C69A4;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

.company {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    justify-content: end;
}

.copyright {
    font-weight: bold;
}

.nav-aziendali {
    display: flex;
    width: 50%;
    align-self: center;
    justify-content: end;
}

.company-faq {
    display: flex;
    column-gap: 15px;
    text-decoration: none;
    list-style-type: none;
}

.company-faq a {
    color: white;
}


/*RESPONSIVE FOOTER (Tablet & Smartphone)*/

@media screen and (max-width:768px) {
    footer {
        display: block;
        text-align: center;
    }

    .company {
        width: auto;
    }

    .nav-aziendali {
        width: auto;
        justify-content: center;
    }
}