* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

header {
    height: 50px;
    font-family: 'Nerko One', cursive;
    color:orange;
    background-color: white;
    align-content: center;
    padding-left: 15px;
}

/*RESPONSIVE-HEADER (only for Smartphone)*/

@media screen and (max-width:480px) {
    header {
        text-align: center;
    }
}

/*BODY*/

body {
    background-color: rgb(226, 226, 226);
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    height: auto;
}

.row {
    display: flex;
}

.container {
    width: 70%;
    margin: 50px auto;
    min-height: 300px;
    border-style: dashed;
}

.col-sx {
    width: 70%;
    min-height: 150px;
    border-style: dashed;
}

.col-dx {
    width: 30%;
    min-height: 150px;
    border-style: dashed;
}

/*RESPONSIVE-BODY (only for Tablet)*/

/*RESPONSIVE-BODY (only for Smartphone)*/


/*FOOTER*/
footer {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    color: white;
    background-color: #7C69A4;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

.company {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    justify-content: end;
}

.copyright {
    font-weight: bold;
}

.nav-aziendali {
    display: flex;
    width: 50%;
    align-self: center;
    justify-content: end;
}

.company-faq {
    display: flex;
    column-gap: 15px;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: white;
}


/*RESPONSIVE FOOTER (Tablet & Smartphone)*/

@media screen and (max-width:768px) {
    footer {
        display: block;
        text-align: center;
    }

    .company {
        width: auto;
    }

    .nav-aziendali {
        width: auto;
        justify-content: center;
    }
}